@font-face {
  font-family: 'menlo';
  src: font-url('menlo/menlo.woff2') format('woff2'),
    font-url('menlo/menlo.woff') format('woff'),
    font-url('menlo/menlo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}