// sass-lint:disable no-vendor-prefixes
@mixin animation($value) {
  animation: #{$value};
  -webkit-animation: #{$value};
}

@mixin appearance($value) {
  appearance: #{$value};
  -webkit-appearance: #{$value};
}

@mixin non-selectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@mixin box-shadow($value...) {
  box-shadow: #{$value};
  -webkit-box-shadow: #{$value};
  -moz-box-shadow: #{$value};
}

@mixin transition($value...) {
  transition: #{$value};
  -webkit-transition: #{$value};
}

@mixin transform($value...) {
  transform: #{$value};
  -webkit-transform: #{$value};
}

@mixin clip-path($value...) {
  clip-path: #{$value};
  -webkit-clip-path: #{$value};
}

@mixin ellipsis($lines: 2, $line-height: $line-height-base, $font-size: $font-size-base) {
  height: calc(#{$font-size} * #{$line-height} * #{$lines});
  overflow: hidden;
  font-size: $font-size;
  line-height: $line-height;
  text-overflow: ellipsis;
  // -webkit-line-clamp: $lines;
  // display: -webkit-box;
  // this does not compile...
  -webkit-box-orient: vertical;
}

@mixin autofill($color) {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    @include box-shadow(none);
    @include transition(background-color 5000s ease-in-out 0s);
    -webkit-text-fill-color: $color;
  }
}
