// Dimensions
$navbar-height: 64px;
$project-ratio: 74%;
$browser-ratio: 80%;
$iphone-ratio:  217%;
$video-ratio:   56%;

// Color
$overlay-bg:      rgba($dark, 0.3);
$browser-bg:      $dark;
$browser-border:  $black;
$terminal-bg:     $black;
$terminal-border: $black;
$iphone-bg:       $dark;
$iphone-border:   $black;
$square-bg:       $white;
$square-border:   $black;
$epos-bg:         $dark;
$epos-border:     $black;

// Z-Indexes
$zindex-footer: 999;
