.project {
  @extend %background-cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-position: center top;

  &::before {
    z-index: 11;
    display: block;
    padding-top: $project-ratio;
    background: $overlay-bg;
    content: '';

    @include  media-breakpoint-down(xs) {
      padding-top: $project-ratio * 1.2;
    }
  }

  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 22;
    padding: 2 * $spacer;
    padding-bottom: 0;
  }

  .body {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .description {
    @include ellipsis($lines: 2);
  }

  .previews {
    position: relative;
    display: flex;
    flex: 1;
    @include transform(translateY(20px));

    .browser-artboard {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .iphone-artboard {
      position: absolute;
      top: 20%;
      right: -#{$spacer};
      bottom: 0;
      z-index: 11;
      width: 33%;
    }

    .square-artboard {
      position: absolute;
      bottom: 0;
      left: calc(25% - 5 * #{$spacer});
      z-index: 22;
      width: 20%;
    }

    .epos-artboard {
      position: absolute;
      bottom: 0;
      left: -2.5 * $spacer;
      z-index: 19;
      width: 25%;
    }
  }
}
