@keyframes showcase {
  0%   { @include transform(scale(0.5)); }
  20%  { @include transform(scale(1)); }
  100% { @include transform(scale(1)); }
}

.project {
  position: relative;
  overflow: hidden;
  background-position: center top;

  &.showcase {
    [class*='artboard'] { bottom: auto !important; }

    .project-viewport {
      position: fixed;
      z-index: $zindex-modal;
      @include animation(showcase 1s 1 ease-in);
      pointer-events: all;

      .content {
        padding-top: $navbar-height;
        padding-bottom: $navbar-height;
      }

      .body { justify-content: center; }

      .description { height: auto; }

      .description .short,
      .previews {
        display: none;
      }
    }
  }

  &:not(.showcase) {
    .video-embed,
    .showcase-ctrls {
      display: none;
    }

    .description .long { display: none; }
  }

  &::before {
    position: relative;
    z-index: 11;
    display: block;
    padding-top: $project-ratio;
    background: $overlay-bg;
    content: '';

    @include  media-breakpoint-down(sm) {
      padding-top: $project-ratio * 1.2;
    }
  }

  .video-embed {
    position: relative;
    padding-bottom: $video-ratio;
    overflow: hidden;
    border-radius: $border-radius;

    iframe {
      @extend %fill-parent;
      width: 100%;
      height: 100%;
    }
  }

  .showcase-ctrls {
    display: flex;
    height: $navbar-height;
  }

  .project-overlay {
    z-index: 33;
    cursor: pointer;
    opacity: 0;
    @include transition(opacity 0.3s ease-in-out);

    &:hover {
      background: $overlay-bg;
      opacity: 1;
    }

    .btn-play {
      $_size: 6 * $spacer;
      display: block;
      font-size: $_size;

      .outer { font-size: $_size * 1.1; }

      i { display: block; }
    }

    @include  media-breakpoint-down(sm) {
      opacity: 1;
    }
  }

  .project-viewport {
    pointer-events: none;
    @include transition(all 0.3s ease-in-out);
  }

  .project-overlay,
  .project-viewport,
  .content {
    @extend %fill-parent;
  }

  .content {
    z-index: 22;
    padding: 2 * $spacer;
    padding-bottom: 0;
  }

  .body {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .description {
    @include ellipsis;
  }

  .previews {
    position: relative;
    flex: 1;
    @include transform(translateY(20px));

    .browser-artboard {
      @extend %fill-parent;
    }

    .iphone-artboard {
      position: absolute;
      top: 20%;
      right: -#{$spacer};
      bottom: 0;
      z-index: 11;
      width: 33%;
    }

    .square-artboard {
      position: absolute;
      bottom: 0;
      left: calc(25% - 5 * #{$spacer});
      z-index: 22;
      width: 20%;
    }

    .epos-artboard {
      position: absolute;
      bottom: 0;
      left: -2.5 * $spacer;
      z-index: 19;
      width: 25%;
    }
  }
}
